.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #77002e;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #77002e;
  margin-bottom: 2rem;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
}