.detail {
  font-family: Arial, sans-serif;
  margin: 2rem;
  text-align: center;
  margin-top: 5rem;
}

.detail img {
  border-radius: 6px;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.title {
  font-size: 2rem;
  margin: 1rem 0;
  color : #77002e;
}

