.card {
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #77002e32;
}


/* Mobile responsiveness */
@media (max-width: 768px) {
  .card {
    width: 80%;
    justify-self: center;
  }
}

@media (max-width: 480px) {
  .card {
    width: 80%;
    justify-self: center;
  }
}